<% content_for :head do %>
  <style type="text/css">
    html {
      background: url("assets/bg_dark.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
    }
  </style>
<% end %>

<h1 id="hi_there">Welcome!</h1>
<p class="paragraph">Thanks for visiting! My name is Nicolette and I love all things art. Although I love art, I must confess that I love my twinnie more. He is such a star, even though he never answers my texts and never answers when I try talking to him and he's on his lappy toppy. Sad face.</p>
<p><%= link_to "Shop Now", spree_path, :id => "about_shop_link", :class => "link" %></p>

<p class="facebook"><%= link_to image_tag("fb_white_72.png", :border => 0, :alt => 'Find me on Facebook', :title => ''), "http://facebook.com/NicoletteHollindale" %></p>