<p></p>
<p></p>
<p></p>
<h1>Hi There!</h1>
<p></p>
<p></p>
<p></p>
<p class="paragraph">Thanks for visiting! My name is Nicolette and I love all things art. Although I love art, I must confess that I love my twinnie more. He is such a star, even though he never answers my texts and never answers when I try talking to him and he's on his lappy toppy. Sad face.</p>
<p></p>
<p><%= link_to "Shop Now", spree_path, :id => "about_shop_link", :class => "link" %></p>