<% content_for :head do %>
  <style type="text/css">
    html {
      background: url("assets/bg_garden.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      text-align: center;
    }
  </style>
<% end %>

<h1 id="pixious">Pixious</h1>
<h2 id="tagline">Handmade With Love</h2>
<div id="links">
  <%= link_to "About", about_path, :id => "about_link", :class => "link"  %><%= link_to "Shop Now", spree_path, :id => "shop_link", :class => "link"  %>
</div>